* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 1px solid red;    
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;
   height: 100vw; 
   max-width: 1400px;
}

/* butons */
.header-menu-btn {
   box-sizing: border-box;
   width: 96px;
   height: 40px;
   padding: 10px 20px;
   border-radius: 100px;
   background-color: transparent;
   color: white;
   border: 2px solid #9E9E9E;
}

.btn-green {
   width: 199px;
   height: 64px;
   background: #92CA18;
   border-radius: 100px;
   color: white;
   text-transform: uppercase;
   font-family: Oswald;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 64px;
   border: none;
   margin-right: 25px;
}

.opaciti-btn {
   width: 317px;
   height: 64px;
   left: 368px;
   top: 520px;
   border: 2px solid #92CA18;
   box-sizing: border-box;
   border-radius: 100px;
   background-color: transparent;
   color: white;
   font-family: Oswald;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 64px;
   text-transform: uppercase;
   
}
.opaciti-btn img {
   width: 30px;
   height: 24px;
   margin-right: 15px;
}


/* butons */

/* logo */

/*End logo */

.container {
   max-width: 1110px;
   width: 100%;
   margin: 0 auto;
}

.firstscreen{
   background-image: url(/img/first.jpg);
   background-size: auto;
   width: 100%;
   height: auto;
}

.header {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
}

.header-title{
   padding: 10px;
   padding-left: 0;
   font-family: Oswald;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   align-items: center;
   text-transform: uppercase;
   color: #92CA18;
   margin-bottom: 80px;
}

.greeting-title {
   padding: 5px ;
   padding-left: 0;
   width: 50%;
   font-family: Oswald;
   font-style: normal;
   font-weight: bold;
   font-size: 56px;
   line-height: 64px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 25px;
}

.greeting-text {
   width: 50%;
   font-family: Gotham Pro;
   font-style: italic;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-bottom: 50px;
}

.firstscreen-bottom__left {
   display: flex;
   margin-bottom: 120px;
}

.firstscreen-bottom__right {
   display: flex;
   flex-direction:column;
   align-items: flex-end;

}

.logo-img1 {
   position: absolute;
   right: 355px;
   bottom: 160px;
}

.logo-img2 {
   position: absolute;
   right: 295px;
   bottom: 130px;
}

.logo-img3 {
   position: absolute;
   right: 295px;
   bottom: 130px;
   background-color: gray;
}
